.headerProfilePic, i {
  margin: 0px 10px;
}

.logginButton{
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  color:pink;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  /* overflow: hidden; */
  margin-right: 50px;

}
.logginButton:hover{
  /* background: pink; */
  /* color: #050801; */
  box-shadow: 0 0 1px pink,
              0 0 5px pink,
              0 0 10px pink,
              0 0 100px pink;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}


.logginButton span{
  position: absolute;
  display: block;
}
.logginButton span:nth-child(1){
  top:-10px;
  width: 100%;
  height: 2px;
  /* animation: animate1 1s linear infinite;
  background: linear-gradient(90deg,transparent, pink); */
}

.logginButton:hover span:nth-child(1){
  animation: animate1 1s linear infinite;
  background: linear-gradient(90deg,transparent, pink);
}
.logginButton:hover span:nth-child(2){
  background: linear-gradient(180deg,transparent, pink);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
.logginButton:hover span:nth-child(3){
  background: linear-gradient(270deg,transparent, pink);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
.logginButton:hover span:nth-child(4){
   background: linear-gradient(360deg,transparent, pink);
   animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}

.logginButton span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  /* background: linear-gradient(180deg,transparent, pink); */
  /* animation: animate2 1s linear infinite;
  animation-delay: 0.25s; */
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
.logginButton span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  /* background: linear-gradient(270deg,transparent, pink); */
  /* animation: animate3 1s linear infinite;
  animation-delay: 0.50s; */
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}


.logginButton span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  /* background: linear-gradient(360deg,transparent, pink); */
  /* animation: animate4 1s linear infinite;
  animation-delay: 0.75s; */
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}
.headerProPic {
  max-height: 100px;
}

.headerProfilePic {
  align-self: center;
  border-radius: 50%;
  width: 90px;
  max-width: 90px;
  height: 90px;
  max-height: 90px;
  overflow: hidden;
  display: flex;
  align-content: center;
  align-items: stretch;
  justify-content: space-evenly;
}

h3 {
  flex-shrink: 0;
}