.headerProfilePic, i {
  margin: 0px 10px;
}

.headerProPic {
  height: 100px;
  /* width: 100px; */
  /* z-index: -10; */
}

.headerProfilePic {
  align-self: center;
  /* margin: 1%; */
  border-radius: 50%;
  width: 90px;
  max-width: 90px;
  height: 90px;
  max-height: 90px;
  overflow: hidden;
  display: flex;
  align-content: center;
  align-items: stretch;
  justify-content: space-evenly;
}

h3 {
  flex-shrink: 0;
}