#reviewModal {
  color:red;
}

#update-form {
  background-color:rgba(121, 117, 117, 0.9);
  padding: 10px 20px 30px 20px;
  max-width:100%;
  position: absolute;
  margin-top:30px;
  border-radius:7px;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  font-size: large;
  left:40%;
  top:30%;
  transform:scaleY(.01) scaleX(0);
  animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}


#update-form input,
#update-form select,
#update-form textarea,
#update-form input,
#update-form select,
#update-form textarea {
  width:100%;
  background: #fff;
  border: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 25px;
  padding: 5px;
}
#update-form input:focus,
#update-form select:focus,
#update-form textarea:focus {
  background-color: #E5E6E7;
}
#update-form textarea {
  width:100%;
  height: 150px;
}
#updateButton{
  cursor:pointer;
  border:none;
  background:#991D57;
  background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  border-radius:5px;
}
#submitButton{
  cursor:pointer;
  width:100%;
  border:none;
  background:#991D57;
  background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  border-radius:5px;
}
#submitButton:hover {
  background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
  background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
  background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}
#updateButton:hover {
  background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
  background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
  background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}
#update-form button[type="submit"]:active {
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
input:required, textarea:required {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}
#update-form .required {
  font-weight:bold;
  color: #E5E6E7;
}

/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
  #update-form{
     left: 3%;
     margin-right: 3%;
     width: 88%;
     margin-left: 0;
     padding-left: 3%;
     padding-right: 3%;
  }
}

.icon{
  color:red;
}

#hide {
  float: right;
}