u:hover {
  cursor: pointer;
}

#user-info {
  background-color: #C4CAD0;
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#proPic {
  height: 100px;
}

.profilePic {
  align-self: center;
  /* margin: 1%; */
  border-radius: 50%;
  width: 90px;
  max-width: 90px;
  height: 90px;
  max-height: 90px;
  overflow: hidden;
  display: flex;
  align-content: center;
  align-items: stretch;
  justify-content: space-evenly;
}

#name-email {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

u {
  padding: 0px 0px 10px 0px;
}