body {
  background-color: aquamarine;
}

button {
  height: 38px;
}
.nav-bar button {
  height: 25px;
  width: 75px;
  margin: 0 5px;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
  margin: 10px;
}

.nav-bar {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#home-page {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignUp, .Login {
  height: 75vh;
  width: 200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

#search-bar {
  margin: auto;
}

.center {
  justify-content: center;
}

#user-review-container {
  margin: 5px auto;
}

#user-review-container h2 {
  text-align: center;
}

.review-container {
  margin: 2px auto;
}